@model User;

@{
    ViewData["Title"] = "SignUp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Sign Up</h1>

<form asp-action="SignUp" method="post">
    <!-- This will display model-level validation errors -->
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <!-- Username -->
    <div class="form-group">
        <label asp-for="Username" class="control-label"></label>
        <input asp-for="Username" class="form-control" />
        <span asp-validation-for="Username" class="text-danger"></span>
    </div>

    <!-- Password -->
    <div class="form-group">
        <label asp-for="Password" class="control-label"></label>
        <input asp-for="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <!-- RoleID for tenant = 3 -->
    <input type="hidden" asp-for="RoleId" value="3" />

    <!-- First Name -->
    <div class="form-group">
        <label asp-for="FirstName" class="control-label"></label>
        <input asp-for="FirstName" class="form-control" />
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>

    <!-- Last Name -->
    <div class="form-group">
        <label asp-for="LastName" class="control-label"></label>
        <input asp-for="LastName" class="form-control" />
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>

    <!-- Email -->
    <div class="form-group">
        <label asp-for="Email" class="control-label"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <!-- Phone -->
    <div class="form-group">
        <label asp-for="PhoneNumber" class="control-label"></label>
        <input asp-for="PhoneNumber" class="form-control" />
        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
    </div>

    <br />

    <!-- Sign Up Button -->
    <div class="form-group">
        <input type="submit" value="Sign Up" class="btn btn-primary" />
    </div>

    <!-- Display error message from ViewData -->
    @if (ViewData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger">
            @ViewData["ErrorMessage"]
        </div>
    }
    <br />
    <a asp-controller="Access" asp-action="Login" class="btn btn-primary">Log in</a>
</form>

